@charset "utf-8";

.fb-like {
	position: absolute;
	left: 10px;
	top: 10px;
	height: 300px;
	width: 200px;
	z-index: 1003;
}

body {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.audioContainer{
	position: absolute;
	bottom: 30px;
	z-index: : 1001;
	width:100%;
	text-align: center;
}
audio {
	margin: auto;
	min-width: 70%;
}

canvas {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  pointer-events: none;
}

img {
	display: none;
}